{:paths ["src" "resources"]
 :deps  {org.clojure/clojure                         {:mvn/version "1.10.3"}
         com.snowplowanalytics/snowplow-java-tracker {:mvn/version "1.0.0"
                                                      :exclusions  [com.fasterxml.jackson.core/jackson-databind]}
         org.apache.httpcomponents/httpclient        {:mvn/version "4.5.14"}}
 :aliases
 {:eastwood {:extra-deps {jonase/eastwood {:mvn/version "1.3.0"}}
             :main-opts ["-m"
                         "eastwood.lint"
                         {}]}
  :run-m    {:main-opts ["-m" "metabase.snowplow-eastwood-issue"]}
  :run-x    {:ns-default metabase.snowplow-eastwood-issue
             :exec-fn    -main
             :exec-args  {:name "Clojure"}}
  :uberjar  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
             :exec-fn      hf.depstar/uberjar
             :exec-args    {:aot        true
                            :jar        "snowplow-eastwood-issue.jar"
                            :main-class "metabase.snowplow-eastwood-issue"
                            :sync-pom   true}}}}
